<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/jquery/bootstrap_3.3.0/css/bootstrap.min.css}" type="text/css" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/jquery/jquery-1.11.1-min.js}"></script>
  <script type="text/javascript" th:src="@{/jquery/bootstrap_3.3.0/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/xlPaging.js}"></script>

  <link th:href="@{/jquery/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css}" type="text/css" rel="stylesheet" />



  <script type="text/javascript" th:src="@{/jquery/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js}"></script>
  <script type="text/javascript" th:src="@{/jquery/bootstrap-datetimepicker-master/locale/bootstrap-datetimepicker.zh-CN.js}"></script>
  <title>Title</title>
  <script type="text/javascript" th:inline="javascript">


  </script>
</head>
<body th:inline="text">
<div>
  <div style="position: relative; left: 10px; top: -10px;">
    <div class="page-header">
      <h3 style="display: inline">工作记录</h3></span>
    </div>
  </div>
</div>
</body>

</html>